version: "3.8"

services:
  mongo_db:
    image: mongo:7
    container_name: mongo-small
    ports:
      - "27017:27017"

  elasticsearch:
    image: elasticsearch:8.12.0
    container_name: es-small
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.ml.enabled=false
      - ES_JAVA_OPTS=-Xms256m -Xmx256m
      - bootstrap.memory_lock=true
      - cluster.routing.allocation.disk.threshold_enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

volumes:
  esdata:
